<h1>План виховної роботи та безпеки життєдіяльності (2026/2027 н.р.)</h1>
<p>Цей документ є базовим орієнтиром для класних керівників. Усі заходи, протоколи батьківських зборів та інструктажі з БЖД фіксуються у відповідних папках Спільного диска "06_Виховна_Робота".</p>

<h2>🌟 Головні напрямки виховної роботи</h2>
<ul>
  <li><b>Національно-патріотичне виховання:</b> формування національної свідомості, відзначення державних свят.</li>
  <li><b>Превентивне виховання та БЖД:</b> проведення регулярних інструктажів, тижнів безпеки дорожнього руху, кібербезпеки.</li>
  <li><b>Морально-етичне та екологічне виховання:</b> розвиток емпатії, участь у волонтерських та екологічних акціях.</li>
</ul>

<h2>📅 Орієнтовний графік ключових заходів (I семестр)</h2>
<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th>Місяць</th>
    <th>Тематика / Заходи</th>
    <th>Відповідальні</th>
  </tr>
  <tr>
    <td>Вересень</td>
    <td>Місячник безпеки дорожнього руху. Перший урок. Вибори активу класу.</td>
    <td>Класні керівники</td>
  </tr>
  <tr>
    <td>Жовтень</td>
    <td>День Захисників і Захисниць України. Тиждень кібербезпеки.</td>
    <td>Педагог-організатор, кл. керівники</td>
  </tr>
  <tr>
    <td>Листопад</td>
    <td>День Гідності та Свободи. Заходи до Дня пам'яті жертв Голодоморів.</td>
    <td>Вчителі історії, кл. керівники</td>
  </tr>
  <tr>
    <td>Грудень</td>
    <td>Інструктажі перед зимовими канікулами. Благодійні акції.</td>
    <td>Уся школа</td>
  </tr>
</table>
<br>
<p><i>Затверджено заступником директора з виховної роботи.</i></p>
