<h1>Інструкція з ведення електронної звітності (2026)</h1>
<p>Шановні колеги! Зведені таблиці успішності та експорт відвідуваності завантажуються суворо у відповідні папки класів на цьому Спільному диску.</p>

<h2>⏱ Дедлайни</h2>
<ul>
  <li><b>Щотижня (Пʼятниця до 15:00):</b> Контроль відвідуваності (кількість пропусків, причини).</li>
  <li><b>Щомісяця (Останній робочий день):</b> Аналітика успішності (середній бал, динаміка).</li>
</ul>

<h2>📝 Алгоритм дій класного керівника</h2>
<ol>
  <li>Відкрийте папку вашого рівня школи (наприклад, <i>"02_Базова_школа_5-9_класи"</i>).</li>
  <li>Зробіть копію файлу <b>"Шаблон_Звіту_Клас"</b> та перейменуйте його у форматі: <i>"8-А_Звіт_Вересень"</i>.</li>
  <li>Заповніть таблицю згідно з даними електронного журналу.</li>
  <li>Переконайтеся, що файл знаходиться у правильній папці, щоб адміністрація мала до нього доступ.</li>
</ol>

<h2>💡 Зразок заповнення даних</h2>
<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th>ПІБ Учня</th>
    <th>Пропуски (год)</th>
    <th>Причина / Довідка</th>
    <th>Середній бал</th>
  </tr>
  <tr>
    <td>Коваленко Іван</td>
    <td>12</td>
    <td>Хвороба (є довідка)</td>
    <td>8.5</td>
  </tr>
  <tr>
    <td>Шевченко Анна</td>
    <td>0</td>
    <td>-</td>
    <td>11.2</td>
  </tr>
</table>
<br>
<p><i>Дякуємо за дотримання цифрової дисципліни!</i></p>
